<nav class="card w-100 navbar-expand-lg bg-body-tertiary ramais-card border-0">
    <div class="container-fluid px-0 ramais-bg rounded-3">
        <div class="collapse navbar-collapse px-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 ps-0">
                <li class="nav-item dropdown w-100">
                    <a class="nav-link dropdown-toggle w-100 text-center fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        RAMAIS INTERNOS
                    </a>
                    <ul class="dropdown-menu w-100 m-0">
                        <li class="dropdown-item ramais-item">250 - Amilton</li>
                        <li class="dropdown-item ramais-item">207 - Ana Clara</li>
                        <li class="dropdown-item ramais-item">246 - Antônio</li>
                        <li class="dropdown-item ramais-item">212 - Camilla</li>
                        <li class="dropdown-item ramais-item">&nbsp;&nbsp;&nbsp;&nbsp;9 - Carine</li>
                        <li class="dropdown-item ramais-item">203 - Cinira</li>
                        <li class="dropdown-item ramais-item">224 - Copa</li>
                        <li class="dropdown-item ramais-item">252 - David</li>
                        <li class="dropdown-item ramais-item">208 - Eugênio</li>
                        <li class="dropdown-item ramais-item">215 - Fábio</li>
                        <li class="dropdown-item ramais-item">213 - Guilherme</li>
                        <li class="dropdown-item ramais-item">201 - Heliane</li>
                        <li class="dropdown-item ramais-item">248 - Lidia</li>
                        <li class="dropdown-item ramais-item">211 - Liliane</li>
                        <li class="dropdown-item ramais-item">210 - Marco</li>
                        <li class="dropdown-item ramais-item">214 - Sala de Reuniões</li>
                        <li class="dropdown-item ramais-item">237 - Steffany</li>
                        <li class="dropdown-item ramais-item">255 - Sueli</li>
                        <li class="dropdown-item ramais-item">202 - Tânia</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
